// ---------------------
// Main file (non-modular)
// ---------------------
@import 'compass'
@import './skins'
@import '../mixins'

$prefix-name: 'magnetis'

// Structure
.row
  width: 100%
  +clearfix
  @extend .pull-left

.wrap
  width: 960px
  margin: 0 auto
  +clearfix

// Titles
.#{$prefix-name}-title
  margin: 30px 0
  font-size: 24px

// Text Helpers
.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

// Floats
.pull-left
  float: left

.pull-right
  float: right

// Inline-block
.inline-block
  +inline-block

// Clear list
.clear-list
  margin: 0
  padding: 0
  list-style-type: none

input, select
  width: 100%
  font-size: $input-font-size
  color: $input-border-color
  border: 1px solid #CCC
  padding: 9px 0
  text-indent: 8px
  +border-radius(3px)
  +box-shadow(inset 3px 3px 10px #E8E8E8)
  &:focus
    outline: none
  &[disabled]
    background-color: #F5F5F5
  &.is-right
    direction: rtl

.magnetis-select
  position: relative
  &:after
    content: ''
    position: absolute
    right: 10px
    top: 15px
    +arrow(8px, 6px, down, #D7D7D7)
  select
    padding: 8px 0
    +appearance(none)
