<div class="row">
  <div class="wrap">

    <div class="magnetis-fund">
      <h2 class="magnetis-title">Sul America Expertise  fundo de investimento em ações</h2>
      <ul class="clear-list row magnetis-fund-description">
        <li class="inline-block">
          <p class="magnetis-fund-title">DATA</p>
          <p class="magnetis-fund-value">31/10/2013</p>
          <i class="icons-sprite-divisor"></i>
        </li>

        <li class="inline-block">
          <p class="magnetis-fund-title">SALDO DE COTAS</p>
          <p class="magnetis-fund-value">10.035.700,0000000000</p>
          <i class="icons-sprite-x"></i>
        </li>

        <li class="inline-block">
          <p class="magnetis-fund-title">VALOR POR COTA (R$)</p>
          <p class="magnetis-fund-value">10.035.700.200,00</p>
          <i class="icons-sprite-equal"></i>
        </li>

        <li class="inline-block">
          <p class="magnetis-fund-title">VALOR TOTAL (R$)</p>
          <p class="magnetis-fund-value">100.000.035.700.200,00</p>
        </li>
      </ul>
      <div class="magnetis-trades">
        <h3>Movimentações</h3>
        <table class="row">
          <thead>
            <tr>
              <td></td>
              <td>DATA</td>
              <td>TIPO</td>
              <td>QUANTIDADE DE COTAS</td>
              <td>VALOR POR COTA (R$)</td>
              <td>VALOR TOTAL (R$)</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <i class="icons-sprite-arrow-blue"></i>
              </td>
              <td>
                <input type="text">
              </td>
              <td>
                <div class="magnetis-select">
                  <select name="">
                    <option value="a">Aplicação</option>
                    <option value="a">Resgate</option>
                    <option value="a">Resgate para IR</option>
                  </select>
                </div>
              </td>
              <td>
                <input type="text"
                  class="is-right">
              </td>
              <td>
                <input type="text"
                  class="is-right"
                  disabled="disabled"
                  value="123.456.777">
              </td>
              <td>
                <input type="text"
                  class="is-right">
              </td>
              <td class="text-center">
                <i class="icons-sprite-arrow-blue"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
