<div class='fund-name'>Sul America Expertise Fundo de Investimentos em Ações</div>

<form class='trade-list'>
  <table class='trade-list-table'>
    <thead>
      <tr class='trade-list-header'>
        <th>DATA</th>
        <th>TIPO</th>
        <th>QUANTIDADE DE COTAS</th>
        <th>VALOR POR COTA (R$)</th>
        <th>VALOR TOTAL (R$)</th>
      </tr>
    </thead>
    <tbody>
      <tr class='trade'>
        <td><input type='text' name='date' placeholder='Data' alt='Data'/></td>
        <td>
          <select>
            <option>Aplicação</option>
            <option>Resgate</option>
          </select>
        </td>
        <td><input type='text' name='shares' placeholder='Quantidade de cotas' alt='Quantidade de cotas'/></td>
        <td><input type='text' name='price' placeholder='Valor da Cota' alt='Valor da Cota'/></td>
        <td><input type='text' name='value' placeholder='Valor Total' alt='Valor Total'/></td>
      </tr>
    </tbody>
  </table>
</form>

<%= link_to 'Inserir Nova Movimentação', '#' %>

<section class='trades-footer'>
  <%= link_to 'Salvar', '#' %>
  <%= link_to 'Cancelar', '#' %>
</section>