<div class="row">
  <div class="wrap"
    id="funds"></div>
</div>

<script type="text/template"
  id="fund-template">
  <h2 class="magnetis-title">{{ name }}</h2>

  <ul class="clear-list row magnetis-fund-description">
    <li class="inline-block">
      <p class="magnetis-fund-title">DATA</p>
      <p class="magnetis-fund-value">31/10/2013</p>
      <i class="icons-sprite-divisor"></i>
    </li>

    <li class="inline-block">
      <p class="magnetis-fund-title">SALDO DE COTAS</p>
      <p class="magnetis-fund-value">10.035.700,0000000000</p>
      <i class="icons-sprite-x"></i>
    </li>

    <li class="inline-block">
      <p class="magnetis-fund-title">VALOR POR COTA (R$)</p>
      <p class="magnetis-fund-value">10.035.700.200,00</p>
      <i class="icons-sprite-equal"></i>
    </li>

    <li class="inline-block">
      <p class="magnetis-fund-title">VALOR TOTAL (R$)</p>
      <p class="magnetis-fund-value">100.000.035.700.200,00</p>
    </li>
  </ul>
  <div class="magnetis-divisor"></div>

  <div class="magnetis-trades">
  </div>

  <div class="magnetis-fund-bottom row">
    <button class="magnetis-button confirm">Salvar Movimentações</button>
    <button class="magnetis-button">Cancelar</button>
  </div>
</script>

<script type="text/template"
  id="trades-template">
  <h3>Movimentações</h3>
  <table class="row">
    <thead>
      <tr>
        <td></td>
        <td>DATA</td>
        <td>TIPO</td>
        <td>QUANTIDADE DE COTAS</td>
        <td>VALOR POR COTA (R$)</td>
        <td>VALOR TOTAL (R$)</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="magnetis-trades-button row text-center">
    <a href="javascript: void(0);">
      INSERIR NOVA MOVIMENTAÇÃO
    </a>
  </div>
</script>

<script type="text/template"
  id="trade-template">

    <td class="text-center magnetis-trades-reference-icon">
      <i class=""></i>
    </td>
    <td>
      <input type="text"
        value="{{ formated_date }}"
        name="date" />
    </td>
    <td>
      <div class="magnetis-select">
        <select name="kind">
          <option value="0" {{ kind === 0 ? "selected='selected'" : "" }} >Aplicação</option>
          <option value="1" {{ kind === 1 ? "selected='selected'" : "" }} >Resgate</option>
          <option value="2" {{ kind === 2 ? "selected='selected'" : "" }} >Resgate para IR</option>
        </select>
      </div>
    </td>
    <td>
      <input type="text"
        name="shares"
        value="{{ shares }}"
        class="is-right">
    </td>
    <td>
      <input type="text"
        class="is-right"
        disabled="disabled"
        value="">
    </td>
    <td>
      <input type="text"
        disabled="disabled"
        class="is-right">
    </td>
    <td class="text-center">
      <a href="javascript:void(0)" class="icons-sprite-close"></a>
    </td>

</script>

<% content_for :javascript_ready do %>
  <script>
    $(function () {
      new Magnetis.TradesManager({
        fundsUrl: '/funds.json',
        tradesUrl: '/trades.json',
        fundsEl: '#funds',
        fundTemplate: '#fund-template',
        tradesTemplate: '#trades-template',
        tradeTemplate: '#trade-template',
        pricesUrl: 'funds/:id/prices.json'
      });
    });
  </script>
<% end %>
